/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(123, 124, 124);
}

#main-container {
    width: 80%;
    height: 100%;
    display: flex;
}

#logo-container {
    width: 35%;
    height: 100%;
    background-image: url(gurupad-hegde-JQ94tqNbuy0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
    display: flex;
    align-items: center;
}

#logo-background {
    width: 100%;
    height: 20%;
    background-color: black;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 40%;
    height: 80%;
    color: #ccc;
}

#company-name {
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#details-container {
    width: 65%;
    height: 100%;
    background-color: rgb(30, 31, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    padding: 1em;
}

#form-text {
    margin: 1em 0;
    padding: 1em;
    color: #ccc;
}

h2 {
    padding: 0 1em;
    color: #ccc;
}

input {
    width: 100%;
    padding: 2px;
    margin: 0;
    align-self: flex-end;
    box-sizing: border-box;
}
table {
    padding: 1em;
    color: #ccc;
}

td {
    padding: 1em 1em 1em 0;
}

button {
    padding: 1em;
    margin-left: 15px;
    background-color: #3c4e5e;
    color: #ccc;
}

button:hover {
    background-color: #98b3ca;
    color: black;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

label {
    padding: 2px;
    margin: 2px;
}

input:focus {
    border: 2px solid black;
}

#existing-account {
    color: #ccc;
    padding: 1em;
}

a {
    color: #657685;
    text-decoration: none;
}